---
import { getSelectedVariantStoreId } from "../headless/VariantSelector/VariantSelectorContext";
import { AddSelectedVariantToCart } from "../ui/VariantSelector";

const selectedVariantStoreId = getSelectedVariantStoreId();
---

<AddSelectedVariantToCart
    client:wait-for-store={selectedVariantStoreId}
    selectedVariantStoreId={selectedVariantStoreId}
  />
<!-- <p aria-live="polite" class="sr-only" role="status">
  {addItemToCartResult?.data}
</p> -->
